[submodule "lib/Thor"]
	path = lib/Thor
	url = https://github.com/Bromeon/Thor
[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt
[submodule "lib/tmxlite"]
	path = lib/tmxlite
	url = https://github.com/fallahn/tmxlite
